.container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si es necesario */
  flex-direction: column; /* Alinea los elementos verticalmente */
  margin-left: 110px;

}
.table-title {
    background:#23282b;
    color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    padding: 10px 30px;
    border-radius: 0px 0px 0 0;
    z-index: 2; /* Asegura que table-title esté por encima de table-striped */
}
.table-striped .table-dark {
  position: sticky;
  top: 67px; /* Ajusta este valor para que coincida con la altura de .table-title */
  width: 100%;
  left: 0;
  z-index: 1; /* Asegura que table-striped esté por debajo de table-title */
}
.table-title .btn{
		   color:#fff;
		   float:right;
		   margin-right: 20px;
		   font-size:18px;
		   border:none;
		   min-width:50px;
		   border-radius:10px;
		   border:none;
		   outline:none!important;
		   margin-left:10px;
		   padding: 10px 20px;
	   }

		body {
			background-color: #f8f9fa;
			/* Agrega un color de fondo a la página */
		}

    .container1 {

			width: 450px;
      margin-top: 20px;
      margin-bottom: 20px;


			/* Ajusta el margen superior para centrar la tabla */
		}
		.container2 {

			width: 225px;
      margin-top: 20px;
      margin-bottom: 20px;


			/* Ajusta el margen superior para centrar la tabla */
		}

/*cambia el tamaño del cuadro select*/
.select2-container .select2-selection--single {
    height: 38px !important;

	align-items: center;
	display: flex;
}

form div label{
	font-size: 20px;
}
.badge-primary-soft {
  background-color: rgba(40, 110, 251, 0.1); /* Fondo azul claro con transparencia */
  color: #286efb; /* Color del texto azul */
}

.badge {
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 20px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}
.buscar{
  display: flex;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: rgba(40, 110, 251, 0.1); /* Fondo azul claro con transparencia */
  color: #286efb; /* Color del texto azul */
  width: 750px;
  border-radius: 20px;
}
